# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Cache
.cache/
*.cache

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# # Output directories
# results/
# chunks/

# OS
.DS_Store
Thumbs.db
